# JetBrains IDE
/.idea/

# Composer
/vendor/
/composer.phar

# Symfony7 - логи и кэш
/var/cache/
/var/log/*
!var/log/.gitkeep

# Symfony7 - загрузочные данные в публичке
/public/uploads/
/public/bundles/

# Symfony7 - конфигурация
/config/*.yaml.local
/config/*.env.local
/config/*.env.*.local

# Symfony7 - артефакты сборки
/build/


# Временные файлы различного толка (включая потенциальный мусор от macOS и Windows)
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# PHPUnit - конфигурация
/phpunit.xml

# Данные для удаленных серверов
/.web-server-pid
